# General macOS
.DS_Store
.AppleDouble
.LSOverride

# object code files that are specific to whatever version of python someone is using
*.pyc
*.pyo
__pycache__/

# ignores all .swp files that vim creates if you are using Linux
*~
*.swp
*.swo

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

## IGNORES ALL PDF FILES - TOO LARGE TO CONSISTENTLY PUSH
*.pdf